html {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

button {
    cursor: pointer;
}

label {
    font-family: Tahoma;
    color: #202020;
}

a {
    text-decoration: none;
}

p {
    font-family: Tahoma;
    padding: 0px;
    margin: 0px;
}

.flex,
.hflex,
.vflex {
    display: flex;
    align-items: center;
    gap: 16px;
}

.vflex {
    flex-direction: column;
}

.reversed {
    justify-content: flex-end;
}

/* .pixel {
    cursor: none;
} */

.toolbar {
    background-color: #606060;
    border: 1px #404040 solid;
    border-radius: 16px;
    box-shadow: 0px 1px 4px 2px #404040;
    align-self: stretch;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px;
    gap: 32px;
}

.canvas-container {
    box-shadow: 0px 2px 16px 16px #202020;
}

.footnotes,
.footer {
    padding: 0px 32px;
    align-self: stretch;
    justify-content: center;
}

.footnotes {
    gap: 32px;
}

.footer {
    font-weight: bold;
    background-color: #383838;
    padding: 24px 32px;
}

.canvas-controls {
    align-items: flex-start;
}

.canvas-controls button {
    width: 96px;
}

.options {
    justify-content: flex-start;
}

.brush-controls {
    justify-content: flex-start;
}

.brush-controls .data {
    align-items: stretch;
    min-width: 20%;
    width: 20%;
}

.brush-controls .controls {
    align-items: flex-start;
}

.modal {
    position: fixed;
    z-index: 1;
    display: none;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modalbox {
    background-color: gray;
    border: 1px solid #404040;
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    gap: 12px;
    align-items: stretch;
    flex: 0 0 auto;
}

.modalbox .header {
    background-color: #606060;
    border-radius: 8px 8px 0px 0px;
    justify-content: center;
    padding: 12px 24px;
}

.modalbox .title {
    margin: 0px;
}

.modalbox .body {
    justify-content: space-between;
    gap: 16px;
    padding: 0px 24px;
}

.modalbox .body .left,
.modalbox .body .right {
    align-items: flex-start;
}

.modalbox .footer {
    background-color: #707070;
    border-radius: 0px 0px 8px 8px;
    justify-content: center;
    padding: 8px 24px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #20202080;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bold {
    font-weight: bold;
}

.hide-cursor {
    cursor: none;
}

/*  */

#main-container {
    background: gray;
    padding: 0px;
    flex: 0 0 auto;
    gap: 32px;
}

#main-container .header {
    padding: 32px;
}

#clear-button {

}

#reset-button {

}

#brush-opacity-data,
#brush-color-data {
    text-align: center;
}

/* #brush-opacity-range {
    transform: scale(0.5, 0.5);
}

#brush-color-picker {
    transform: scale(0.75, 0.75);
} */